@model YourSay.Models.UserAccount

@{
    ViewBag.Title = "LoggedOut";
}

<!--Page to be shown when the user logs out and when he tries to enter a page with no public access-->
<div class="main_col">
    <h2> You are now logged out</h2>

    <h3>Go to <a href="~/Home/Home">Homepage</a> or <a href="~/Register/Login">login</a> again</h3>
</div>

